body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    margin: 0 auto; 
    background: gray; 
    position:relative; 
    border:2px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#screen{
    position:relative;
    z-index:20;
}